stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - script: |
{% include './templates/stages/build.j2' %}

- stage: Deploy
  jobs:
  - job: Deploy
    steps:
    - script: |
{% include './templates/stages/publish.j2' %}